<h1>UCI Iris Dataset</h1>
<%= link_to 'Download Data', uci_irises_dataset_path, data: {confirm: 'Are you sure?'} %>

<div data-controller="hello">
  <button data-action="hello#greet">Greet</button>
  <div data-target="hello.output"></div>
</div>

<%# <% if Iris.first %>
  <!-- <section class="dataset-graphs"> -->
    <%# <%= image_tag "assets/images/uci_dataset_graph_1.png" ,alt: "Graph 1 Irises", class: 'graph-1' %>
  <!-- </section> -->
<%# <% end %>
