<h1>UCI Iris Dataset</h1>
<%= link_to 'Download Data', uci_irises_dataset_path %>

<% if Iris.first %>
  <section class="dataset-graphs">
    <%= image_tag "assets/images/uci_dataset_graph_1.png" ,alt: "Graph 1 Irises", class: 'graph-1' %>
  </section>
<% end %>
